{% extends '_layouts/site' %}

{% set parent = craft.entries.section('blogLandingPage').one %}

{% set headerImageUrl = (entry.image.one is defined and entry.image.one is not empty) ? entry.image.one.url : '' %}

{# Construct an object with needed information for the breadcrumb component #}
{% set breadcrumbEntry = {
    'ancestors': {},
    'title': entry.title,
    'section': {
    'name': 'Blog'
    }
} %}

{% block content %}
    <ul class="breadcrumbs -breadcrumbs-no-header">

        <li>{{ 'News & Events'|e }}</li>

        {# Section Link #}
        <li><a href="{{ parent.url }}">{{ parent.heading }}</a></li>

        {# Entry title #}
        {% if entry.title is defined %}
            <li class="current">{{ entry.title }}</li>
        {% endif %}
    </ul>
    <section class="page-section news-entry -headerless">
        <div class="row">
            <div class="medium-9 medium-centered columns">
                <p class="date">
                    {{ entry.postDate|date('m/d/Y') }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="medium-9 medium-centered columns">
                <h2 class="title">{{ entry.title }}</h2>
            </div>
        </div>
        <div class="row hide-for-print">
            <div class="medium-9 medium-centered columns">
                {% include '_components/sharethis' %}
            </div>
        </div>
        <div class="row">
            <div class="medium-9 medium-centered columns">
                <p class="categories">
                    Categories:
                    {% for category in entry.blogCategories.all() %}
                        <a href="{{ category.url }}">{{ category.title }}</a>
                        {% if not loop.last %}
                            {{ ',' }}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="medium-9 medium-centered columns">
                {{ entry.body }}
                {% if entry.contentBlock is defined and entry.contentBlock is not empty %}
                    {% include '_matrix/contentBlock/index'
                    with {'matrix': entry.contentBlock,
                    'openingStructure': '<div class="row"><div class="column medium-9 medium-centered">',
                    'closingStructure': '</div></div>',
                    'altText': entry.title
                    }
                    %}
                {% endif %}
            </div>
        </div>

        {# Disqus Comments #}
{#         <div class="row">
            <div class="medium-9 medium-centered columns">
                <div id="disqus_thread"></div>
                <script>

                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

                    var disqus_config = function () {
                        this.page.url = '{{ url(entry.url)|escape('js') }}'; // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = '{{ entry.id|escape('js') }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };

                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//{{ craft.config.get('disqusShortname')|e('js') }}.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div> #}

    </section>
{% endblock %}