{% extends '_layouts/site' %}

{% if entry is not defined %}
    {% set entry = craft.entries.section('blogLandingPage').one %}
{% endif %}

{% set blogEntriesCriteria = craft.entries.section('blogEntries') %}

{% set headerImageUrl = (entry.headerImage.one is defined and entry.headerImage.one is not empty) ? entry.headerImage.one.url : '' %}

{% set blogCategories = craft.categories.group('blogCategories').all(null) %}

{% set selectedCategory = null %}
{% set selectedCategorySlug = 'all' %}
{% if craft.app.request.segments | length == 3 and craft.app.request.segments[1] == 'categories' %}
    {% set lastSegment              = craft.app.request.segments|last %}
    {% set selectedCategorySlug     = lastSegment %}
    {% set selectedCategory         = craft.categories.slug(lastSegment).one() %}
    {% if selectedCategory is not empty %}
        {% set blogEntriesCriteria  = blogEntriesCriteria.relatedTo(selectedCategory) %}
    {% endif %}
{% endif %}

{% set paginationLimit = 6 %}
{% set blogEntriesCriteria = blogEntriesCriteria.limit(paginationLimit) %}

{% block content %}
    <div class="bg-smoke">
        {% include '_components/header-image' with {'entry': entry, 'useHeading': true} %}
        {% include '_components/breadcrumb' with {'emptyCrumbs':true} %}
        <section class="page-section -no-overflow">
            <div class="row">
                <ul class="categories-list">
                    <li class="categories-list__item">
                        <a href="{{ entry.url }}" class="{{ selectedCategorySlug == 'all' ? 'selected-category' : '' }}">All</a>
                    </li>
                    {% for category in blogCategories %}
                        <li class="categories-list__item">
                            <a class="{{ selectedCategorySlug == category.slug ? 'selected-category' : '' }}" href="{{ category.url }}">{{ category.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">
                <div class="columns">
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 block-grid-news-events">
                        {% paginate blogEntriesCriteria as paginatedEntries %}
                        {% for blogEntry in paginatedEntries %}
                            <li>
                                {% include '_components/info-card-blog-entry' with {'entry': blogEntry} %}
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>

            <div class="blog-pagination">
                {% include '_components/pagination' with {'paginationCriteria': blogEntriesCriteria} %}
            </div>

            <div class="row blog-footer">
                <h3 class="blog-footer__heading">Sign up to receive email notifications when new blog articles are posted.</h3>
                <form id="blogSubscriptionForm" class="form blog-signup" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow">
                    <input type="hidden" value="accessfund" name="uri">
                    <input type="hidden" name="loc" value="en_US">
                    <input class="blog-input email" type="email" placeholder="Enter Email Address" id="email_field" name="email">
                    <input class="submit button" type="submit" value="Subscribe">
                </form>
            </div>
        </section>
    </div>
{% endblock %}

{% block footerJavascript %}
    {{ parent() }}

    <script type="text/javascript">
        $('#blogSubscriptionForm').submit(function(e) {
            window.open('http://feedburner.google.com/fb/a/mailverify?uri=accessfund', 'popupwindow', 'scrollbars=yes,width=550,height=520');

            return true;
        });

        $('#email_field').focus(function () {
            $(this).val('');
        });
    </script>

{% endblock %}