    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
{% spaceless %}
{% set topNavigation %}
{% cache globally for 1 year %}
<div class="fixed nav-wrapper">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1 class="title">
                    <a class="home-link" href="https://www.accessfund.org/">
                        <svg width="50" height="36">
                            <image xlink:href="https://www.accessfund.org/images/logo.svg" src="https://www.accessfund.org/images/logo.png" width="50" height="36" />
                        </svg>
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon hide-for-medium-up">
                <a href="">
                    <svg width="40" height="29">
                        <image xlink:href="https://www.accessfund.org/images/mobile-nav-toggle.svg" src="https://www.accessfund.org/images/mobile-nav-toggle.png" width="40" height="29" />
                    </svg>
                </a>
            </li>
            <li class="tablet-toggle-topbar toggle-topbar menu-icon show-for-medium-only">
                <a href="">
                    <svg width="40" height="29">
                        <image xlink:href="https://www.accessfund.org/images/mobile-nav-toggle.svg" src="https://www.accessfund.org/images/mobile-nav-toggle.png" width="40" height="29" />
                    </svg>
                </a>
            </li>
            <li class="medium-cta show-for-medium-only">
                <ul class="call-to-action">
                    <li class="action-item join">
                        <a class="action-link" href="{{ url('join-or-give') }}">
                            <span class="link-text">Join</span>
                        </a>
                    </li>
                    <li class="or">or</li>
                    <li class="action-item give">
                        <a class="action-link" href="{{ url('join-or-give') }}">
                            <span class="link-text">Give</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <section class="top-bar-section">
            <div class="header-links show-for-large-up">
                <ul class="social">
                    <li class="social-item">
                        <a class="social-link facebook" href="{{ url(externalLinks.facebookLink) }}" target="_blank">
                            <svg viewBox="0 0 12 23" preserveAspectRatio="xMidYMin slice">
                                <image xlink:href="https://www.accessfund.org/images/icon-facebook.svg" src="https://www.accessfund.org/images/icon-facebook.png" width="12" height="23" />
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a class="social-link twitter" href="{{ url(externalLinks.twitterlink) }}" target="_blank">
                            <svg viewBox="0 0 24 23" preserveAspectRatio="xMidYMin slice">
                                <image xlink:href="https://www.accessfund.org/images/icon-twitter.svg" src="https://www.accessfund.org/images/icon-facebook.png" width="24" height="23" />
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a class="social-link instagram" href="{{ url(externalLinks.instagramLink) }}" target="_blank">
                            <svg viewBox="0 0 24 23" preserveAspectRatio="xMidYMin slice">
                                <image xlink:href="https://www.accessfund.org/images/icon-instagram.svg" src="https://www.accessfund.org/images/icon-instagram.png" width="24" height="23" />
                            </svg>
                        </a>
                    </li>
                </ul>
                <ul class="head-links show-for-large-up">
                    <li class="head-item">
                        <a class="head-link" href="{{ craft.entries.section('blogLandingPage').one().url }}">Blog</a>
                    </li>
                    <li class="head-item">
                        <a class="head-link" href="{{ url(externalLinks.storeLink) }}" target="_blank">Store</a>
                    </li>
                    <li class="head-item">
                        <a class="head-link e-news-signup-link" href="{{ url('e-news-signup') }}">E-News Signup</a>
                    </li>
                    <li class="head-item">
                        <a class="head-link contact-us-link" href="{{ url('contact-us') }}">Contact Us</a>
                    </li>
                    <li class="head-item">
                        <a class="head-link js-search-toggle search-link" href="">Search</a>
                    </li>
                </ul>
                <!-- End Head Links --> </div>
            <div class="main-navbar">
                <form class="-mobile searchbar hide-for-large-up" action="{{ url('search') }}" method="GET">
                    <input type="text" name="q" id="keyword" placeholder="Search" />
                </form>
                <ul class="main-nav">
                    <li class="has-dropdown main-nav-item not-click">
                        <a class="main-nav-link meet-the-access-fund-link" href="{{ url('meet-the-access-fund') }}">Meet Access Fund</a>
                        <span class="dropdown-toggle show-for-medium-only"></span>
                        <ul class="dropdown">
                            {% for navEntry in craft.entries.section('meetTheAccessFundEntries').level(1).all() %}
                                {% set entryUrl = navEntry.url %}
                                {% if navEntry.slideUrlOverride is not empty %}
                                    {% set entryUrl = navEntry.slideUrlOverride %}
                                {% endif %}
                                {% if navEntry.title != 'Our 2015 Work' %}
                                    <li class="dropdown-item">
                                        <a class="dropdown-link" href="{{ entryUrl }}">{{ navEntry.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li class="dropdown-item">
                                <a class="dropdown-link impact-map-link" href="{{ url('our-impact') }}">Impact Map</a><span class="show-for-medium-only"></span>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-link impact-map-link" href="http://2015annualreport.accessfund.org/">Our 2015 Work</a><span class="show-for-medium-only"></span>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown main-nav-item">
                        <a class="main-nav-link our-impact-link" href="#">Our Causes</a><span class="dropdown-toggle show-for-medium-only"></span>
                        <ul class="dropdown">
                            {% for navEntry in craft.entries.section('ourCausesEntries').level(1).all() %}
                                {% set entryUrl = navEntry.url %}
                                {% if navEntry.slideUrlOverride is not empty %}
                                    {% set entryUrl = navEntry.slideUrlOverride %}
                                {% endif %}
                                <li class="dropdown-item">
                                    <a class="dropdown-link" href="{{ entryUrl }}">{{ navEntry.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="has-dropdown main-nav-item not-click">
                        <a class="main-nav-link take-action-link" href="{{ url('take-action') }}">Take Action</a>
                        <span class="dropdown-toggle show-for-medium-only"></span>
                        <ul class="dropdown">
                            <li class="dropdown-item">
                                <a class="dropdown-link" href="{{ url('take-action/campaigns') }}">Current Campaigns</a>
                            </li>
                            {% for navEntry in craft.entries.section('takeActionEntries').level(1).all() %}
                                {% set entryUrl = navEntry.url %}
                                {% if navEntry.slideUrlOverride is not empty %}
                                    {% set entryUrl = navEntry.slideUrlOverride %}
                                {% endif %}
                            <li class="dropdown-item">
                                <a class="dropdown-link" href="{{ entryUrl }}">{{ navEntry.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="has-dropdown main-nav-item not-click">
                        <a class="main-nav-link news-and-events-link" href="{{ url('news-and-events') }}">News &amp; Events</a>
                        <span class="dropdown-toggle show-for-medium-only"></span>
                        <ul class="dropdown">
                            <li class="dropdown-item">
                                <a class="dropdown-link" href="{{ url('news-and-events/news') }}">Latest News</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-link" href="{{ url('news-and-events/event-calendar') }}">Event Calendar</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-link" href="{{ craft.entries.section('blogLandingPage').one().url }}">Blog</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-link" href="{{ url('news-and-events/newsletter') }}">Newsletter</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-link" href="{{ url('news-and-events/media-resources') }}">Media Resources</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown main-nav-item  not-click">
                        <a class="main-nav-link educate-yourself-link" href="{{ url('educate-yourself') }}">Learn</a>
                        <span class="dropdown-toggle show-for-medium-only"></span>
                        <ul class="dropdown">
                            {% for navEntry in craft.entries.section('educateYourselfEntries').level(1).all() %}
                                {% set entryUrl = navEntry.url %}
                                {% if navEntry.slideUrlOverride is not empty %}
                                    {% set entryUrl = navEntry.slideUrlOverride %}
                                {% endif %}
                            <li class="dropdown-item">
                                <a class="dropdown-link" href="{{ entryUrl }}">{{ navEntry.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <ul class="head-links hide-for-large-up">
                    <li class="head-item">
                        <a class="head-link" href="{{ url(externalLinks.storeLink) }}" target="_blank">Store</a>
                    </li>
                    <li class="head-item">
                        <a class="head-link" href="{{ url('e-news-signup') }}">E-News Signup</a>
                    </li>
                    <li class="head-item">
                        <a class="head-link" href="{{ url('contact-us') }}">Contact Us</a>
                    </li>
                </ul>
                <ul class="call-to-action hide-for-medium-only">
                    <li class="action-item join">
                        <a class="action-link" href="{{ url('join-or-give') }}">
                            <span class="link-text">Join</span>
                        </a>
                    </li>
                    <li class="or">or</li>
                    <li class="action-item give">
                        <a class="action-link" href="{{ url('join-or-give') }}">
                            <span class="link-text">Give</span>
                        </a>
                    </li>
                </ul>
                <ul class="social hide-for-large-up">
                    <li class="social-item">
                        <a class="social-link facebook" href="{{ url(externalLinks.facebookLink) }}" target="_blank">
                            <svg viewBox="0 0 12 23" preserveAspectRatio="xMidYMin slice">
                                <image xlink:href="https://www.accessfund.org/images/icon-facebook.svg" src="https://www.accessfund.org/images/icon-facebook.png" width="12" height="23" />
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a class="social-link twitter" href="{{ url(externalLinks.twitterlink) }}" target="_blank">
                            <svg viewBox="0 0 24 23" preserveAspectRatio="xMidYMin slice">
                                <image xlink:href="https://www.accessfund.org/images/icon-twitter.svg" src="https://www.accessfund.org/images/icon-facebook.png" width="24" height="23" />
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a class="social-link instagram" href="{{ url(externalLinks.instagramLink) }}" target="_blank">
                            <svg viewBox="0 0 24 23" preserveAspectRatio="xMidYMin slice">
                                <image xlink:href="https://www.accessfund.org/images/icon-instagram.svg" src="https://www.accessfund.org/images/icon-instagram.png" width="24" height="23" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </nav>
    <form id="searchbar" class="searchbar" action="{{ url('search') }}" method="get">
        <input type="text" name="q" id="keyword" placeholder="Search" />
        <button class="close">Close</button>
    </form>
</div>
{% endcache %}
{% endset %}

{% if (craft.app.request.getSegment(1) is not empty) %}
    {{ topNavigation|replace(craft.app.request.getSegment(1) ~ '-link', craft.app.request.getSegment(1) ~ '-link active') | raw }}
{% else %}
    {{ topNavigation }}
{% endif %}
<div class="row">
    <div class="twelve columns">
        <div class="alert alert-danger alert-dismissible alert-box" role="alert" style="display: none; margin-top: 50px;">
            <span class="error-message"><strong>Warning!</strong> Error messages will appear here.</span>
        </div>
    </div>
</div>
{% endspaceless %}