{% set nodes = craft.navigation.nodes()
    .handle('primaryNavigation')
    .all() %}
{# menu classes #}
{% set baseNavClass = "ml-4 xl:ml-8 inline-flex items-center px-4 py-2 text-base xxl:text-base text-center font-medium subpixel-antialiased rounded-full bg-primary-500 transition duration-150 ease-in-out focus:bg-primary-400 focus:outline-none focus:text-white-90 " %}	
{% set baseNavSubClass = "block px-6 py-2 text-base leading-5 font-medium subpixel-antialiased bg-primary-500 transition duration-150 ease-in-out focus:bg-primary-400 focus:outline-none focus:text-white-90 " %}
{% set baseMobileClass = "block px-4 py-4 text-base font-medium bg-primary-500 subpixel-antialiased transition duration-150 ease-in-out " %}
{% set inactiveClass = "text-quaternary-500 bg-opacity-0 hover:text-white-90 hover:bg-opacity-100 focus:bg-opacity-100" %}
{% set activeClass = "text-white-90 bg-opacity-100 hover:bg-primary-400" %}
{%- set arrowDown -%}
<svg class="ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
	<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
</svg>		
{%- endset -%}

<header id="page-header">
	<nav class="bg-white" aria-label="menu" aria-role="menubar">
	<div class="mx-auto px-4 sm:px-6 lg:px-8">
		<div class="navigation--primary flex justify-between h-24 lg:h-32">
			<div class="flex">
				<div class="flex-shrink-0 flex items-center">
					<a href="{{ siteUrl }}" title="{{ organization.organizationName }}">
						<svg class="print:hidden block lg:hidden h-12 w-auto" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 855.9 1072.8" xml:space="preserve"><path d="M28.7 1004.8C-19.8 935.6-3 840.1 66.3 791.6l545-381.6c69.2-48.5 164.7-31.7 213.2 37.6 48.5 69.2 31.7 164.7-37.6 213.2l-545 381.6c-69.3 48.4-164.7 31.6-213.2-37.6z" fill="#2348cc"/><circle class="st1" cx="153.9" cy="917.1" r="152.9"/><g><path d="M28.7 65.8C-19.8 135-2.9 230.4 66.3 278.9l545 381.6C680.5 709 776 692.2 824.5 623s31.7-164.7-37.6-213.2l-545-381.6C172.6-20.3 77.2-3.5 28.7 65.8z" fill="#f42f4c"/><path d="M851.9 527.1c-.1-1.9-.2-3.7-.4-5.6-.3-3.5-.8-7-1.3-10.4-.2-1.1-.3-2.3-.6-3.4-.7-4-1.6-7.9-2.7-11.8-.2-.7-.3-1.4-.5-2-1.2-4.1-2.5-8.2-4-12.3l-.6-1.5c-1.6-4.1-3.3-8.1-5.3-12-.3-.5-.5-1.1-.8-1.6-2-3.9-4.1-7.7-6.4-11.4-.3-.5-.7-1.1-1-1.6-2.4-3.8-5-7.6-7.8-11.2-.1-.2-.3-.4-.4-.5-9.2-11.8-20.2-22.4-33-31.4l-7.6-5.3c-50.3-30.9-116.2-31.1-167.7 5l-179 125.4 179 125.4c51.5 36 117.4 35.9 167.7 5l7.6-5.3c12.9-9 23.9-19.6 33-31.4.1-.2.3-.4.4-.5 2.8-3.6 5.4-7.4 7.8-11.2.3-.5.7-1.1 1-1.6 2.3-3.7 4.4-7.5 6.4-11.4.3-.5.5-1.1.8-1.6 1.9-3.9 3.7-7.9 5.3-12l.6-1.5c1.5-4 2.9-8.1 4-12.3.2-.7.4-1.4.5-2 1-3.9 1.9-7.9 2.7-11.8.2-1.1.4-2.3.6-3.4.6-3.5 1-6.9 1.3-10.4.2-1.9.3-3.7.4-5.6.2-2.7.3-5.5.3-8.2-.1-3.2-.2-5.9-.3-8.6z" fill="#e61224"/><circle class="st1" cx="153.9" cy="153.5" r="152.9"/><circle class="st1" cx="699.2" cy="535.3" r="152.9"/></g></svg>
						<svg class="print:block hidden lg:block h-20 w-auto" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 843.4 477" xml:space="preserve"><path class="st0" d="M10.2 4.9h22.6l47.8 78v-78h20.8v110.5H79.1l-48-77.8v77.8H10.2V4.9zM113.2 75.7c0-24.3 13.9-41.1 37.6-41.1 9.9 0 18.6 4.1 23.2 10.3v-9h19.4v79.6H174v-9.3c-3.8 6.3-12.9 10.6-22.9 10.6-24-.1-37.9-16.8-37.9-41.1zm62.2 0c0-14.7-8.5-24.3-21.6-24.3-12.8 0-21.3 9.6-21.3 24.3 0 14.7 8.5 24.3 21.3 24.3 13.1 0 21.6-9.7 21.6-24.3zM239.8 11.9v24h22.1v16.3h-22.1v33.6c0 8.1 4.3 12.2 11.5 12.2h10.6v17.5h-12.8c-17.4 0-28.7-10.1-28.7-27.8V52.1h-15.6V35.9h15.6v-24h19.4zM293.3 1.3v22.1h-21.5V1.3h21.5zM273 35.9h19.4v79.6H273V35.9zM304.2 75.7c0-23.7 17.4-41.1 41.7-41.1 24.2 0 41.5 17.4 41.5 41.1s-17.4 41.1-41.5 41.1c-24.3-.1-41.7-17.4-41.7-41.1zm63.6 0c0-14.4-8.8-24.3-21.9-24.3-13.3 0-22.1 9.9-22.1 24.3s8.8 24.3 22.1 24.3c13.1 0 21.9-10 21.9-24.3zM399.3 35.9h19.4v12.3c4.4-8.7 13.4-13.6 24.8-13.6 18 0 29.7 12.9 29.7 31.6v49.3h-19.4V70.3c0-10.9-6.6-18.5-16.6-18.5-10.9 0-18.5 8.5-18.5 20.2v43.4h-19.4V35.9zM486.1 75.7c0-24.3 13.9-41.1 37.6-41.1 9.9 0 18.6 4.1 23.2 10.3v-9h19.4v79.6h-19.4v-9.3c-3.8 6.3-12.9 10.6-22.9 10.6-24-.1-37.9-16.8-37.9-41.1zm62.2 0c0-14.7-8.5-24.3-21.6-24.3-12.8 0-21.3 9.6-21.3 24.3 0 14.7 8.5 24.3 21.3 24.3 13.1 0 21.6-9.7 21.6-24.3zM581.4 1.8h19.3v113.7h-19.3V1.8zM34.6 187.1H1.1v-18h87.6v18H55.4v92.5H34.6v-92.5zM163.2 279.7h-19.4v-12.3c-4.4 8.7-13.4 13.6-24.8 13.6-18 0-29.7-12.9-29.7-31.6v-49.3h19.4v45.2c0 10.9 6.6 18.5 16.6 18.5 10.9 0 18.5-8.5 18.5-20.2v-43.4h19.4v79.5zM209.8 176.1v24h22.1v16.3h-22.1V250c0 8.1 4.3 12.2 11.5 12.2h10.6v17.5h-12.8c-17.4 0-28.7-10.1-28.7-27.8v-35.5h-15.6v-16.3h15.6v-24h19.4zM238.4 239.9c0-23.7 17.4-41.1 41.7-41.1 24.2 0 41.5 17.4 41.5 41.1 0 23.7-17.4 41.1-41.5 41.1-24.4-.1-41.7-17.5-41.7-41.1zm63.6 0c0-14.4-8.8-24.3-21.9-24.3-13.3 0-22.1 9.9-22.1 24.3s8.8 24.3 22.1 24.3c13.1 0 21.9-10 21.9-24.3zM371.3 216.3c-12.3 0-17.2 10.6-17.2 25.7v37.6h-19.4V200h19.4v14.1C358 204 364.2 200 374.5 200h9.3v16.3h-12.5zM415.4 165.5v22.1h-21.5v-22.1h21.5zM395 200.1h19.4v79.6H395v-79.6zM431.8 200.1h19.4v12.3c4.4-8.7 13.4-13.6 24.8-13.6 18 0 29.7 12.9 29.7 31.6v49.3h-19.4v-45.2c0-10.9-6.6-18.5-16.6-18.5-10.9 0-18.5 8.5-18.5 20.2v43.4h-19.4v-79.5zM600.2 200.1v84c0 16.6-12 27.8-29.8 27.8h-39.3v-15.5h36.6c7.7 0 13.3-5.8 13.3-14.2v-11.4c-4 6.2-13.1 10.1-23.1 10.1-24 0-37.9-16.7-37.9-41.1 0-24.3 13.9-41.1 37.6-41.1 9.9 0 18.6 4.1 23.2 10.3v-9h19.4zm-18 39.8c0-14.7-8.5-24.3-21.6-24.3-12.9 0-21.3 9.6-21.3 24.3 0 14.7 8.4 24.3 21.3 24.3 13.1 0 21.6-9.7 21.6-24.3zM10.2 333.3h44.4c23.1 0 36.8 14.2 36.8 34.3s-13.7 34.3-36.8 34.3H31.2v42h-21V333.3zm43.5 51c12.3 0 17.4-7.9 17.4-16.7s-5.1-16.7-17.4-16.7H31.2v33.5h22.5zM138.4 380.5c-12.3 0-17.2 10.6-17.2 25.7v37.6h-19.4v-79.6h19.4v14.1c3.9-10.1 10.1-14.1 20.4-14.1h9.3v16.3h-12.5zM153.6 404.1c0-23.7 17.4-41.1 41.7-41.1 24.2 0 41.5 17.4 41.5 41.1 0 23.7-17.4 41.1-41.5 41.1-24.3-.1-41.7-17.5-41.7-41.1zm63.6 0c0-14.4-8.8-24.3-21.9-24.3-13.3 0-22.1 9.9-22.1 24.3s8.8 24.3 22.1 24.3c13.1 0 21.9-10 21.9-24.3zM325.7 364.3v84c0 16.6-12 27.8-29.8 27.8h-39.3v-15.5h36.6c7.7 0 13.3-5.8 13.3-14.2V435c-3.9 6.2-13.1 10.1-23.1 10.1-24 0-37.9-16.7-37.9-41.1s13.9-41.1 37.6-41.1c9.9 0 18.6 4.1 23.2 10.3v-9h19.4zm-18 39.8c0-14.7-8.5-24.3-21.6-24.3-12.9 0-21.3 9.6-21.3 24.3 0 14.7 8.4 24.3 21.3 24.3 13.1 0 21.6-9.7 21.6-24.3zM379.5 380.5c-12.3 0-17.2 10.6-17.2 25.7v37.6h-19.4v-79.6h19.4v14.1c3.9-10.1 10.1-14.1 20.4-14.1h9.3v16.3h-12.5zM395.8 404.1c0-24.3 13.9-41.1 37.6-41.1 9.9 0 18.6 4.1 23.2 10.3v-9H476v79.6h-19.4v-9.3c-3.8 6.3-12.9 10.6-22.9 10.6-24-.1-37.9-16.8-37.9-41.1zm62.2 0c0-14.7-8.5-24.3-21.6-24.3-12.8 0-21.3 9.6-21.3 24.3 0 14.7 8.5 24.3 21.3 24.3 13.1 0 21.6-9.7 21.6-24.3zM493.2 364.3h19.4v12.5c3.9-8.1 11.8-13.7 23.1-13.7 12.6 0 21.3 5.4 24.8 15.2 3.6-8.2 13.7-15.2 26.4-15.2 17.2 0 28.3 12.5 28.3 29.4V444h-19.3v-45.6c0-11.2-5.8-18.6-15.2-18.6-10.4 0-16.9 7.4-16.9 18.6V444h-19.3v-45.6c0-11.2-5.8-18.6-15.2-18.6-10.3 0-16.7 7.4-16.7 18.6V444h-19.4v-79.7zM631.2 364.3h19.4v12.5c3.9-8.1 11.8-13.7 23.1-13.7 12.6 0 21.3 5.4 24.8 15.2 3.6-8.2 13.7-15.2 26.4-15.2 17.2 0 28.3 12.5 28.3 29.4V444h-19.3v-45.6c0-11.2-5.8-18.6-15.2-18.6-10.4 0-16.9 7.4-16.9 18.6V444h-19.3v-45.6c0-11.2-5.8-18.6-15.2-18.6-10.3 0-16.7 7.4-16.7 18.6V444h-19.4v-79.7zM842.9 417.3c-3 16.9-17.8 27.8-37.4 27.8-26.1 0-40.6-20.5-40.6-41.4 0-21 12.9-40.7 39-40.7 26.7 0 38.7 19.4 38.7 38.4 0 2.7-.2 5.1-.3 6.6h-58.7c1.4 12.8 9.6 21 21.9 21 9.9 0 16.4-4.1 18.5-11.7h18.9zM784 395.2h39.2c-.8-10.1-7.7-17.7-19.3-17.7-10.9 0-17.8 5.7-19.9 17.7z"/><g><path d="M653.2 265.8c-11.2-16-7.3-37.9 8.7-49.1l125.6-87.9c16-11.2 37.9-7.3 49.1 8.7 11.2 16 7.3 37.9-8.7 49.1l-125.6 87.9c-15.9 11.1-37.9 7.3-49.1-8.7z" fill="#2348cc"/><circle class="st0" cx="682.1" cy="245.6" r="35.2"/><g><path d="M653.2 49.4c-11.2 16-7.3 37.9 8.7 49.1l125.6 87.9c16 11.2 37.9 7.3 49.1-8.7 11.2-16 7.3-37.9-8.7-49.1L702.3 40.8c-15.9-11.2-37.9-7.3-49.1 8.6z" fill="#f42f4c"/><path d="M842.9 155.7c0-.4 0-.9-.1-1.3l-.3-2.4c0-.3-.1-.5-.1-.8l-.6-2.7c0-.2-.1-.3-.1-.5-.3-1-.6-1.9-.9-2.8 0-.1-.1-.2-.1-.4-.4-.9-.8-1.9-1.2-2.8-.1-.1-.1-.2-.2-.4-.5-.9-.9-1.8-1.5-2.6-.1-.1-.2-.2-.2-.4-.6-.9-1.2-1.7-1.8-2.6l-.1-.1c-2.1-2.7-4.7-5.2-7.6-7.2l-1.8-1.2c-11.6-7.1-26.8-7.2-38.6 1.1l-41.3 28.9 41.3 28.9c11.9 8.3 27 8.3 38.6 1.1l1.8-1.2c3-2.1 5.5-4.5 7.6-7.2l.1-.1c.6-.8 1.2-1.7 1.8-2.6.1-.1.2-.2.2-.4.5-.9 1-1.7 1.5-2.6.1-.1.1-.2.2-.4.4-.9.9-1.8 1.2-2.8 0-.1.1-.2.1-.4.3-.9.7-1.9.9-2.8 0-.2.1-.3.1-.5l.6-2.7c0-.3.1-.5.1-.8l.3-2.4c0-.4.1-.9.1-1.3 0-.6.1-1.3.1-1.9 0-.4-.1-1-.1-1.7z" fill="#e61224"/><circle class="st0" cx="682.1" cy="69.6" r="35.2"/><circle class="st0" cx="807.7" cy="157.6" r="35.2"/></g></g></svg>
					</a>
				</div>
			</div>

			<div class="hidden lg:ml-6 lg:flex lg:items-center">
				{% nav node in nodes %}
				{% set navClass = baseNavClass %}
				{%- if node.level == 2 -%}
					{% set navClass = baseNavSubClass %}
				{%- endif -%}
				<div class="{% if node.hasDescendants %}hasDescendants relative mt-2 pb-2{% endif %}" aria-role="menuitem" aria-level="{{ node.level }}" aria-haspopup="{% if node.hasDescendants %}true{% else %}false{% endif %}" aria-expanded="false">
					<a {% if node.url %} href="{{ node.url }}" {% endif %} title="{{- node.title -}}" class="{% if node.active %}{{ navClass ~ activeClass }}{% else %}{{ navClass ~ inactiveClass }}{% endif %}{% if node.classes | length %} {{ node.classes }}{% endif %}" {% if node.newWindow %} target="_blank" rel="noopener" {% endif %} {% for attribute in node.customAttributes %} {{ attribute.attribute }}="{{ attribute.value }}" {% endfor %} role="menuitem">
						{{- node.title -}}
						{%- if node.hasDescendants -%}
							{{ arrowDown }}
						{%- endif -%}
					</a>
					{%- ifchildren -%}
					<div class="hidden areDescendants origin-top-left absolute left-0 ml-8 z-20 mt-2 w-auto rounded-md bg-white-90 shadow-lg">
						<div class="py-4 rounded-md bg-white shadow-xs">
							<div role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
								{% children %}
							</div>
						</div>
					</div>
					{%- endifchildren -%}
				</div>
				{% endnav %}
			</div>

			<div class="mr-2 flex items-center lg:hidden print:hidden">
				<!-- Mobile menu button -->
				<button @click="hamburgerOpen = !hamburgerOpen" class="inline-flex items-center justify-center hover:text-secondary-500 focus:outline-none" :class="hamburgerOpen ? 'text-secondary-500' : 'text-quaternary-500'" aria-label="Main menu" aria-expanded="false">
				<svg class="h-12 w-12" :class="hamburgerOpen ? 'hidden' : 'block'" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
				</svg>
				<svg class="h-12 w-12" :class="hamburgerOpen ? 'block' : 'hidden'" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
				</svg>
				</button>
			</div> 
		</div>
	</div>
	{# Mobile Nav #}
	<div class="navigation--primary z-10 w-full bg-white-90 shadow-md lg:hidden" :class="hamburgerOpen ? 'block' : 'hidden'">
		{% nav node in nodes %}
			<div class="{% if node.hasDescendants %}hasDescendants{% endif %}" aria-role="menuitem" aria-level="{{ node.level }}" aria-haspopup="{% if node.hasDescendants %}true{% else %}false{% endif %}" aria-expanded="false">
				<a {% if node.url %} href="{{ node.url }}" {% endif %} title="{{- node.title -}}" class="{% if node.active %}{{ baseMobileClass ~ activeClass }}{% else %}{{ baseMobileClass ~ inactiveClass }}{% endif %}{% if node.classes | length %} {{ node.classes }}{% endif %}" {% if node.newWindow %} target="_blank" rel="noopener" {% endif %} {% for attribute in node.customAttributes %} {{ attribute.attribute }}="{{ attribute.value }}" {% endfor %} role="menuitem">
					{{- node.title -}}
				</a>
				{% ifchildren %}
				<div class="border-l-4 border-primary-500">
					{% children %}
				</div>
				{% endifchildren %}
			</div>
		{% endnav %}
	</div>
	</nav>

</header>
