{#
 # Tracking template
 # -----------------
 #
 # This template is inteded to pull in all tracking codes needed for
 # Google Tag Manage, Google Analytics, Facebook Pixel, LinkedIn and Hubspot.
 #
 # This can be added to for other tracking codes but should be added to the
 # correct position such as head, body top or body bottom.
-#}

{# Head Section #}
{% if position == "head" and craft.app.config.env == "production" %}
	{% if tracking.googleSiteVerification|length %}
		<meta name="google-site-verification" content="{{ tracking.googleSiteVerification }}">
	{% endif %}
	{% if tracking.bingSiteVerification|length %}
		<meta name="msvalidate.01" content="{{ tracking.bingSiteVerification }}">
	{% endif %}
	{% if tracking.pinterestSiteVerification|length %}
		<meta name="p:domain_verify" content="{{ tracking.pinterestSiteVerification }}">
	{% endif %}
	{# Google Tag Manager #}
	{% if tracking.googleTagManagerId|length %}
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{ tracking.googleTagManagerId }}');</script>
	{% endif %}
	{# Facebook Pixel #}
	{% if tracking.facebookPixelId|length %}
		<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '{{ tracking.facebookPixelId }}');
		{% set pageView = (tracking.sendPageView.value and not craft.app.request.isLivePreview) %}
		{% if pageView %}
		fbq('track', 'PageView');
		{% endif %}
		</script>
	{% endif %}
	{# LinkedIn #}
	{% if tracking.linkedinDataPartnerId|length %}
		<script>
			_linkedin_data_partner_id = "{{ tracking.linkedinDataPartnerId }}";
		</script>
	{% endif %}
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:563312,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
{% endif %}

{# Body Top Section #}
{% if position == "body-top" and craft.app.config.env == "production" %}
	{# Google Tag Manager #}
	{% if tracking.googleTagManagerId|length %}
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ tracking.googleTagManagerId }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	{% endif %}
	{# Facebook Pixel #}
	{% if tracking.facebookPixelId|length %}
		<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={{ tracking.facebookPixelId }}&ev=PageView&noscript=1" /></noscript>
	{% endif %}
{% endif %}

{# Body Bottom Section #}
{% if position == "body-bottom" and craft.app.config.env == "production" %}


	{# Diff user #}
    <script type="text/javascript">
        (function(e,t,o,n,p,r,i){e.visitorGlobalObjectAlias=n;e[e.visitorGlobalObjectAlias]=e[e.visitorGlobalObjectAlias]||function(){(e[e.visitorGlobalObjectAlias].q=e[e.visitorGlobalObjectAlias].q||[]).push(arguments)};e[e.visitorGlobalObjectAlias].l=(new Date).getTime();r=t.createElement("script");r.src=o;r.async=true;i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)})(window,document,"https://diffuser-cdn.app-us1.com/diffuser/diffuser.js","vgo");
        vgo('setAccount', '475687137');
        vgo('setTrackByDefault', true);
        vgo('process');
    </script>

    {# AdRoll #}
    <script type="text/javascript">
        adroll_adv_id = "R4RVK27SOVDR3JBALTNTB7";
        adroll_pix_id = "HCA5VLKJ5JDCNDFPAS4PQZ";
        /* OPTIONAL: provide email to improve user identification */
        /* adroll_email = "username@example.com"; */
        (function () {
            var _onload = function(){
                if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
                if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            };
            if (window.addEventListener) {window.addEventListener('load', _onload, false);}
            else {window.attachEvent('onload', _onload)}
        }());
    </script>

    {# Google Code for Remarketing Tag #}
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 930216577;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/930216577/?guid=ON&amp;script=0"/>
        </div>
    </noscript>

	{# Google Analytics #}
	{% if tracking.googleAnalyticsId|length %}
		<script>
			window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date; ga('create', '{{ tracking.googleAnalyticsId }}', 'auto'); ga('send', 'pageview')
		</script>
		<script src="https://www.google-analytics.com/analytics.js" async defer></script>
	{% endif %}
	{# HubSpot #}
	{% if tracking.hubspotId|length %}
		<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/{{ tracking.hubspotId }}.js"></script>
	{% endif %}
	{# LinkedIn #}
	{% if tracking.linkedinDataPartnerId|length %}
		<script type="text/javascript">
		(function(){var s = document.getElementsByTagName("script")[0];
		    var b = document.createElement("script");
		    b.type = "text/javascript";b.async = true;
		    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
		    s.parentNode.insertBefore(b, s);})();
		</script>
		<noscript>
		<img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid={{ tracking.linkedinDataPartnerId }}&fmt=gif" />
		</noscript>
	{% endif %}

    {# Facebook #}
    <script async defer>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=701351489975554";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk')
        );
    </script>

    {# Twitter #}
    <script async defer>
        (function(d,s,id) {
            var js,
            fjs=d.getElementsByTagName(s)[0],
            p=/^http:/.test(d.location)?'http':'https';
            if(!d.getElementById(id)) {
                js=d.createElement(s);
                js.id=id;
                js.src=p+"://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        } (document, "script", "twitter-wjs")
        );
    </script>
{% endif %}