{# Expects "entries", "upper"(optional) #}

{% if cssModifier is not defined %}
    {% set cssModifier = '' %}
{% elseif cssModifier|slice(0, 1) != ' ' %}
    {% set cssModifier = ' ' ~ cssModifier %}
{% endif %}

{% if textTop is not defined %}
    {% set textTop = false %}
{% endif %}

{# Background Image #}
{% set sliderImageTransform = {
    mode: 'fit',
    height: 760,
    quality: 75,
    position: 'center-center'
} %}

{% set imageLeftBackground = 'https://placehold.it/795x455' %}
{% if slide.slideImageLeftBackground|length > 0 %}
    {% set imageLeftBackground = slide.slideImageLeftBackground.one.getUrl(sliderImageTransform) %}
{% endif %}


<div class="w-screen">

    <div class="slick-single slanted-section content-slider" data-equalizer>

        <div>

            <div class="slanted-image">
                <div class="background lazy" data-type="img-bg" data-src="{{ imageLeftBackground }}">
                    {% if slide.slideImageLeftBackground.one.photoCredit is defined and slide.slideImageLeftBackground.one.photoCredit is not empty %}
                        <span class="photo-credit">
                            <img src="/images/camera.png" class="credit-icon" alt="Credit">
                            <small class="credit text-left"><strong>Photo Courtesy of:</strong><br/>{{ slide.slideImageLeftBackground.one.photoCredit }}</small>
                        </span>
                    {% endif %}
                </div>
            </div>

            <div class="slide-content gradient" data-equalizer-watch="slide">
                {% if slide.slideHeadline is not empty %}
                    <h3>{{- slide.slideHeadline -}}</h3>
                {% endif %}
                {{ slide.slideSummary }}<br />
                {% if slide.slideButtonText is not empty %}
                    <a href="{{ slide.slideUrlOverride }}" class="secondary button">{{ slide.slideButtonText }}</a>
                {% endif %}
            </div>

        </div>

    </div>

</div>