{# Expects "slider"<instance of the Matrix field "heroSlider"> #}

{% if cssModifier is not defined %}
    {% set cssModifier = '' %}
{% elseif cssModifier|slice(0, 1) != ' ' %}
    {% set cssModifier = ' ' ~ cssModifier %}
{% endif %}

<div class="slick-hero {{ cssModifier|raw }}" data-equalizer>
    {% for slide in slider.all() %}
        {% set bg = 'https://placehold.it/1000x600' %}
        {% set imgPosition = "" %}
        {% if slide.image.one.url is defined and slide.image.one.url is not empty %}
            {% set bg = slide.image.one %}
            {% if bg.hasFocalPoint %}
                {% set x = bg.focalPoint | first * 100 ~ '%' %}
                {% set y = bg.focalPoint | last * 100 ~ '%' %}
                {% set imgPosition = ' background-position: ' ~ [x, y]|join(' ') %}
                {% set focalPoint = ',position: ' ~ [x, y]|join(' ') %}
            {% else %}
                {% set imgPosition = "" %}
                {% set focalPoint = "" %}
            {% endif %}
            {% set transformedImage = craft.imager.transformImage(bg, { width: 1600, jpegQuality: 90 }) %}
        {% endif %}
        <div class="bg" style="background-image: url('{{ transformedImage }}');{{imgPosition}};" data-equalizer-watch="slide">
            <div class="row text-center copy">
                <h1 class="title">{{ slide.headline }}</h1>
                {% if slide.subtitle is not empty %}
                    <p class="subtitle">{{ slide.subtitle }}</p>
                {% endif %}
                {% if slide.linkUrl is not empty %}
                    <a href="{{ slide.linkUrl }}" class="button">{{ slide.linkText }}</a>
                {% endif %}
                <a class="down-arrow scroll-jump" href="#content-begin"></a>
            </div>
            {% if slide.image.one.photoCredit is defined and slide.image.one.photoCredit is not empty %}
                <span class="photo-credit -no-tab">
                    <img src="/images/camera.png" class="credit-icon" alt="Credit">
                    <small class="credit text-right"><strong>Photo Courtesy of:</strong><br/>{{ slide.image.one.photoCredit }}</small>
                </span>
            {% endif %}
        </div>
    {% endfor %}
</div>