{##
 # @param "entry"
 # @param "cssModifier"(optional)
 # @param "showDate"(optional)
 ##}

{% if cssModifier is not defined %}
    {% set cssModifier = '' %}
{% elseif cssModifier|slice(0, 1) != ' ' %}
    {% set cssModifier = ' ' ~ cssModifier %}
{% endif %}


<div class="info-card news-card{{ cssModifier|raw }}" data-equalizer-watch>
    <div class="date">{{ entry.postDate|date("M d, Y") }}</div>
    <div class="title"><a href="{{ entry.url }}">{{ entry.title }}</a></div>
    <div class="description">{{ entry.body|hacksaw(words='24', append='...') }}
    <br><a href="{{ entry.url }}" class="read-more">Read Now</a></div>
</div>