{##
 # @param "entry"
 # @param "cssModifier"(optional)
 # @param "showDate"(optional)
 ##}

{% if cssModifier is not defined %}
    {% set cssModifier = '' %}
{% elseif cssModifier|slice(0, 1) != ' ' %}
    {% set cssModifier = ' ' ~ cssModifier %}
{% endif %}

{# Default showDate to true #}
{% if showDate is not defined %}
    {% set showDate = true %}
{% endif %}

{# Default showTitleTop to false #}
{% if showTitleTop is not defined %}
    {% set showTitleTop = false %}
{% endif %}


{% set image = 'https://placehold.it/801x600' %}
{% if entry.image.one.url is defined and entry.image.one.url is not empty %}
    {% set image = entry.image.one.url %}
{% endif %}

<div class="info-card{{ cssModifier|raw }}" data-equalizer-watch>
    <img class="image" src="{{ image }}" alt="placeholder+image">
    <div class="event-info">
        <div class="date">{{ entry.postDate|date("M d, Y") }}</div>
        <div class="title">{{ entry.title }}</div>
        <div class="location">Location</div>
     </div>
    <a href="" class="read-more button">{{ entry.linkText }}</a>
</div>