{##
 # @param "cssModifier"(optional)
 ##}

{% if cssModifier is not defined %}
    {% set cssModifier = '' %}
{% elseif cssModifier|slice(0, 1) != ' ' %}
    {% set cssModifier = ' ' ~ cssModifier %}
{% endif %}


{% set entries = craft.entries.section('newsEntries').limit(3) %}
<div class="info-card news-list-card{{ cssModifier|raw }}" data-equalizer-watch>
    <ul class="entries-list">
        {% for newsEntry in entries.all() %}
            <li class="entries-item">
                <div class="date">{{ newsEntry.postDate|date('M d, Y') }}</div>
                <div class="title"><a href="{{ newsEntry.url }}">{{ newsEntry.title }}</a></div>
            </li>
        {% endfor %}
    </ul>
    <a class="button read-more" href="{{ url('news-and-events/news/') }}">See All News</a>
</div>