{##
 # @param "entry"
 # @param "cssModifier"(optional)
 # @param "showDate"(optional)
 ##}

{% if cssModifier is not defined %}
    {% set cssModifier = '' %}
{% elseif cssModifier|slice(0, 1) != ' ' %}
    {% set cssModifier = ' ' ~ cssModifier %}
{% endif %}

{# Default showDate to true #}
{% if showDate is not defined %}
    {% set showDate = true %}
{% endif %}

{# Default showTitleTop to false #}
{% if showTitleTop is not defined %}
    {% set showTitleTop = false %}
{% endif %}


<div class="info-card blog-entry-card{{ cssModifier|raw }}" data-equalizer-watch>


    {#     {% set blogThumb = {
    mode: 'crop',
    width: 476,
    height: 276,
    quality: 75,
    position: 'center-center'
    } %}

    {% set image = (entry.image.one is not empty) ? entry.image.one.getUrl(blogThumb) : 'https://placehold.it/476x276' %} #}

    {# <img class="image" src="{{ image }}" alt="{{ entry.title }}"> #}



    {% set lazyImage = false %}
    {% set image = (entry.image.one is not empty) ? entry.image.one : false %}

    {% if image %}
        {% set transformedImages = craft.imager.transformImage(image,
            [
                { width: 475, height: 276, jpegQuality: 65 },
            ],
            {
                format: 'jpg',
                allowUpscale: false,
                mode: 'crop',
                jpegQuality: 80,
                interlace: true,
                position: "50% 50%"
            }
        ) %}
        {% if craft.imager.serverSupportsWebp() %}
            {% set transformedImagesWebP = craft.imager.transformImage(image,
                [
                    { width: 475, height: 276, webpQuality: 60 },
                ],
                {
                    format: 'webp',
                    allowUpscale: false,
                    mode: 'crop',
                    interlace: true,
                    position: "50% 50%"
                }
            ) %}
        {% endif %}
        {% if lazyImage %}
            <picture class="image lazy" data-type="picture">
                {% if craft.imager.serverSupportsWebp() %}
                    <source data-sizes="100vw" data-srcset="{{ craft.imager.srcset(transformedImagesWebP) }}" data-media="" type="image/webp">
                {% else %}
                    <source data-sizes="100vw" data-srcset="{{ craft.imager.srcset(transformedImages) }}">
                {% endif %}

                <img data-src="{{ craft.imager.base64Pixel(2,1) }}" data-sizes="100vw" data-srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ image.title }}" height="auto" width="100%">
            </picture>
        {% else %}
            <picture class="image">
                {% if craft.imager.serverSupportsWebp() %}
                    <source sizes="100vw" srcset="{{ craft.imager.srcset(transformedImagesWebP) }}" type="image/webp">
                {% else %}
                    <source sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}">
                {% endif %}
                <img src="{{ transformedImages[0].url }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ image.title }}" height="auto" width="100%">
            </picture>
        {% endif %}
    {% endif %}

    <div class="post-info">
        <p class="blog-entry-card__title">
            <a href="{{ entry.url }}" class="title">{{ entry.title }}</a>
        </p>
        <div class="summary blog-summary">{{ entry.body|hacksaw(words = '20', append = '...') }}</div>
    </div>
        <a href="{{ entry.url }}" class="read-more -blog-read-more">Read More</a>
    <div class="post-read-more">
    </div>
</div>