{#
 # @param "paginationCriteria"
 # @param "cssModifier"(optional)
 #}

{% if cssModifier is not defined %}
    {% set cssModifier = '' %}
{% elseif cssModifier|slice(0, 1) != ' ' %}
    {% set cssModifier = ' ' ~ cssModifier %}
{% endif %}


<div class="row">
    <div class="columns">
        <ul class="pagination">
            {% paginate paginationCriteria as entries %}
            {% if paginate.totalPages > 1 %}
            {% if paginate.prevUrl %}<li><a href="{{ paginate.prevUrl }}">&laquo;</a></li>{% endif %}

                {% for page, url in paginate.getPrevUrls(5) %}
                <li><a href="{{ url }}">{{ page }}</a></li>
                {% endfor %}

                <li class="current"><a href="">{{ paginate.currentPage }}</a></li>

                {% for page, url in paginate.getNextUrls(5) %}
                <li><a href="{{ url }}">{{ page }}</a></li>
                {% endfor %}
                {% if paginate.nextUrl %}<li><a href="{{ paginate.nextUrl }}">&raquo;</a></li>{% endif %}
            {% endif %}
        </ul>
    </div>
</div>