{# Expects "entries", "cssModifier"(optional) #}

{% if cssModifier is not defined %}
    {% set cssModifier = '' %}
{% elseif cssModifier|slice(0, 1) != ' ' %}
    {% set cssModifier = ' ' ~ cssModifier %}
{% endif %}

{% set staffThumb = {
    mode: 'crop',
    width: 238,
    height: 264,
    quality: 75,
    position: 'center-center'
} %}
<div class="row{{ cssModifier|raw }}" data-equalizer>
    {% for entry in entries.all() %}
        {% set end = entry == entries.inReverse().one() ? ' end' : '' %}
        {% set staffImage = (entry.gridImage.one is not empty) ? entry.gridImage.one.getUrl(staffThumb) : 'https://placehold.it/238x264' %}
        <div class="large-6 xlarge-4 columns{{ end }}">
            <div class="staff-card" data-equalizer-watch>
                <div class="profile-head">
                    <div class="profile-photo lazy" data-type="img-bg" data-src="{{ staffImage }}"></div>
                    <h3 class="name">{{ entry.title }}</h3>
                    <h4 class="job-title">{{ entry.jobTitle }}</h4>
                </div>
                <div class="profile-content">
                    <p class="text-content">
                        {{ entry.phone }}<br>
                        <a href="mailto:{{ entry.email }}">{{ entry.email }}</a>
                    </p>
                    <p class="text-content">{{ entry.body }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>