{% extends '_layouts/site' %}

{% set headerImage = (entry.headerImage.one is defined and entry.headerImage.one is not empty) ? entry.headerImage.one : '' %}

{# Search Query #}
{% set query = craft.app.request.getParam('q') %}
{% set queryParam = query|replace(' ', '+') %}
{% set entryLimit = 12 %}

{% if queryParam is not empty %}
    {# get all section IDs #}
    {% set allSections = craft.app.sections.allSections %}
    {% set includedSections = [] %}
    {% set excludedSections = ['errorPage', 'forms', 'search', 'homepage', 'newsAndEventEntries', 'impactMapEntries', 'resourceCenter', 'educateYourselfEntries'] %}

    {# get all entry types for sections #}
    {% for section in allSections %}
        {% if section.handle not in excludedSections %}
            {% set includedSections = includedSections | merge([section.handle]) %}
        {% endif %}
    {% endfor %}

    {% set entriesCriteria = craft.entries.section(includedSections).search(query).orderBy('score').limit(entryLimit) %}

    {% set currentPage = 1 %}
    {% paginate entriesCriteria as entries %}
    {% set currentPage = paginate.currentPage %}

    {% set entryTotal = entriesCriteria.count() %}
    {% set resultTotal = (currentPage * entryLimit) > entryTotal ? entryTotal : (currentPage * entryLimit) %}
{% endif %}

{% block content %}
    <div class="bg-smoke">
        {# Hero Slider #}
        {% include '_components/header-image' with {'entry': entry} %}

        <section class="page-section">
            <div class="row">
                <div class="small-8 small-centered columns text-center">
                    {% if queryParam is not empty %}
                        {% if entriesCriteria|length %}
                            <p>{{ (currentPage * entryLimit) + 1 - entryLimit }}&dash;{{ resultTotal }} of {{ entryTotal }} results for <strong>“{{ query }}”</strong>.</p>
                        {% else %}
                            <p>Your search for “{{ query }}” didn’t return any results. Please try again.</p>
                            {% include '_components/search-form' %}
                        {% endif %}
                    {% else %}
                         <p>Please Enter a Search Term.</p>
                        {% include '_components/search-form' %}
                    {% endif %}
                </div>
                <div class="columns">
                    {% if queryParam is not empty %}
                        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 block-grid-search" data-equalizer>
                            {% paginate entriesCriteria as entries %}
                            {% for entry in entries %}
                                <li>{% include '_components/info-card-search' with {'entry': entry} %}</li>
                            {% endfor %}
                        </ul>
                        {% include '_components/pagination' with {'paginationCriteria':entriesCriteria, 'queryParam':queryParam } %}
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}