{# Teaser Image #}
{% macro teaser_image(teaserImage, alt = '', ratio = 'is1by1') %}
    {% set image = teaserImage.optimizeTeasers %}
    {% spaceless %}
        <figure role="figure" aria-label="{{- alt -}}" class="relative w-full h-full">
            <div class="img {{ ratio -}}">
                <img src="{{- image.placeholderImage() -}}"
                    data-src="{{- image.src() -}}"
                    data-srcset="{{- image.srcset() -}}"
                    sizes="100vw"
                    alt="{{- alt -}}"
                    class="object-cover lazyload">
            </div>
        </figure>
    {% endspaceless %}
{% endmacro %}