{# Article Image #}
{% macro article_image(articleImage, alt = '', ratio = null, caption = null, author = null, source = null, colour = 'default') %}
    {% import _self as atom %}
    {% set image = articleImage.optimizeArticles %}
    {% spaceless %}
        <figure role="figure" aria-labelledby="{{- alt ~ '-' ~ articleImage.id -}}" class="w-full h-full">
        <div class="img {{ ratio -}}">
            <img  src="{{- image.placeholderImage() -}}"
                data-src="{{- image.src() -}}"
                data-srcset="{{- image.srcset() -}}"
                sizes="100vw"
                alt="{{- alt -}}"
                class="object-cover lazyload">
        </div>
        {% if caption %}
            {{- atom.caption(caption, author, source, alt ~ '-' ~ articleImage.id, colour) -}}
        {% endif %}
        </figure>
    {% endspaceless %}
{% endmacro %}
