{# Hero Image #}
{% macro hero_image(heroImage, alt = '', ratio = 'is16by9') %}
    {% set image = heroImage.optimizeHeroes %}
    {% spaceless %}
        <figure role="figure" aria-label="{{- alt -}}" class="relative w-full h-full">
            <div class="img {{ ratio }} static">
                <img  src="{{- image.placeholderImage() -}}"
                        data-src="{{- image.src() -}}"
                        data-srcset="{{- image.srcset() -}}"
                        sizes="100vw"
                        alt="{{- alt -}}"
                        class="object-cover min-w-full min-h-full w-full h-full z-1 lazyload">
            </div>
        </figure>
    {% endspaceless %}
{% endmacro %}