{%- if block.form.handle is defined -%}
{% set submissionId = craft.app.request.getQueryParam('sent') ?? null %}
{% set submission = craft.freeform.submissions({id: submissionId}).one() ?? null %}

<div class="container max-w-screen-xl mx-auto px-4 lg:px-0">
	<section class="prose md:prose-lg lg:prose-xl mx-auto my-16">

    {%- if submission -%}

        {%- if submissionId and ((now|date('U')) - submission.dateCreated|date('U') < 30) -%}

            {% set submissionName = submission.firstName ?? null %}
            <div class="bg-{{ colour }}-500 border text-white-90 px-8 py-4 mx-4 relative" role="alert">
                <div class="block text-{{ textColour }}-90 font-primary font-medium my-4">
                    {% if submissionName|length %}
                        <p>Hello {{ submissionName|capitalize }},</p>
                    {% endif %}
                    <p>Your submission has been successful, a confirmation email will be sent to you shortly.</p>
                </div>
            </div>

        {%- else -%}

            {# form data-attribute only, form is loaded in after DOM load in _organisms/_forms/form--content.twig via _boilerplate/_layouts/base-html-layout.twig #}
            <div id="form-target" data-form-target="{{ block.form }}"></div>

        {%- endif -%}

    {%- else -%}
        <div class="bg-secondary-500 border text-white-90 px-8 py-4 mx-4 relative" role="alert">
            <div class="block text-white-90 font-primary font-medium my-4">
                It would appear there has been an error submitting your form. Please contact us directly on <a href="mailto:{{ organization.organizationEmail }}" class="text-white-90">{{ organization.organizationEmail }} </a>
            </div>
        </div>
    {%- endif -%}

    </section>
</div>
{%- endif -%}





